.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 5px;
  column-gap: 5px;
}

.container-active {
  border: 2px solid grey;
  padding: 10px;
  /* margin: 10px; */
  width: 300px;
  height: 100px;
  background-color: lightgreen;
}

.container-active:hover {
  background-color: #e5e5e5;
  font-weight: bold;
}

.container-inactive {
  border: 2px solid grey;
  padding: 10px;
  /* margin: 10px; */
  width: 300px;
  height: 100px;
  background-color: lightcoral;
}

.container-inactive:hover {
  background-color: #e5e5e5;
  font-weight: bold;
}

.docker-tabular {
  border: 2px solid grey;
  padding: 5px;
  /* color: aqua; */
}

.docker-tabular th {
  border: 2px solid grey;
  text-align: center;
}

.docker-tabular td {
  /* border: 2px solid grey; */
  text-align: center;
}
