{% extends "base.html" %} {% block title %} Docker {% endblock%} {%block body%}

<h1>Docker containers</h1>

<p>
  A complete view with the containers that run under the docker daemon, on the
  local machine.
</p>

<form action="/">
  <input type="submit" value="Back to Index" />
</form>

<h2>Topology map</h2>

<button id="map-button">View Docker Map</button>

<div id="topology-map">
  <p>The current docker containers that are installed on the system.</p>
  <div id="added-text" style="display: none;">{{docker_containers|safe}}</div>
</div>

{% endblock %}
