{% extends "base.html" %} {% block title %} Docker {% endblock%} {%block body%}

<script src="static/app.js"></script>

<h1>Docker containers</h1>

<p>
  A complete view with the containers that run under the docker daemon, on the
  local machine.
</p>

<form action="/">
  <input type="submit" value="Back to Index" />
</form>

<h2>Container views</h2>

<div id="view-buttons">
  <button id="tabular-view">Tabular View</button>
  <button id="topology-view">Topology View</button>
</div>
<div id="view-divs">
  <div id="tabs" style="display: none">
    {% for container in docker_containers %}
    <p>{{container}}</p>
    {% endfor %}
  </div>
  <div id="topology" style="display: none">
    <p>{{docker_containers}}</p>
  </div>
</div>
{% endblock %}
