{% extends "base.html" %} {% block title %} Index {% endblock %} {% block body%}

<div id="custom-header">
  <h1>System statistics</h1>
  <form action="/1" method="post">
    <button type="submit" class="btn btn-info">Reload service</button>
  </form>
</div>

<div class="flex-container">
  <div class="column-main">
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header">Plot with random data</div>
        <div class="card-text">
          {% if plot1 %}
          <p class="card-text">
            Generate a plot as a <code>.png</code> file and output it into the
            webpage.
          </p>
          <div class="card-body">
            <div class="plot_box">
              <img src="data:image/png;base64,{{plot1}}" />
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header">Header</div>
        {% if plot2 %}
        <p class="card-text">
          Generate a plot as a <code>.png</code> file and output it into the
          webpage.
        </p>
        <div class="card-body">
          <div class="plot_box">
            <img src="data:image/png;base64,{{plot2}}" />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header">Header</div>
        {% if plot3 %}
        <p class="card-text">
          Generate a plot as a <code>.png</code> file and output it into the
          webpage.
        </p>
        <div class="card-body">
          <div class="plot_box">
            <img src="data:image/png;base64,{{plot3}}" />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
