{% extends "base.html" %} {% block title %} Index {% endblock %} {% block body%}

<h1>Plot example 1</h1>
<form action="/1" method="post">
  <button type="submit" class="btn btn-danger">Reload service</button>
</form>
<div class="flex-container">
  <div class="column-main">
    <div class="column-child">
      <div class="card bg-light mb-3" style="max-width: 30rem">
        <div class="card-header">Plot with random data</div>
        <div class="card-text">
          {% if data %}
          <p class="card-text">
            Generate a plot as a <code>.png</code> file and output it into the
            webpage.
          </p>
          <div class="card-body">
            <div class="plot_box">
              <img src="data:image/png;base64,{{data}}" />
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3" style="max-width: 30rem">
        <div class="card-header">Header</div>
        {% if data %}
        <p class="card-text">
          Generate a plot as a <code>.png</code> file and output it into the
          webpage.
        </p>
        <div class="card-body">
          <div class="plot_box">
            <img src="data:image/png;base64,{{data}}" />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3" style="max-width: 30rem">
        <div class="card-header">Header</div>
        {% if data %}
        <p class="card-text">
          Generate a plot as a <code>.png</code> file and output it into the
          webpage.
        </p>
        <div class="card-body">
          <div class="plot_box">
            <img src="data:image/png;base64,{{data}}" />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
