{% extends "base.html" %} {% block title %} Topology {% endblock %} {% block
body%}
<h1 style="text-align: center">Openstack Topology</h1>

<div class="box">
  <form action="{{url_for('show_index')}}">
    <input type="submit" value="Back to the main page" />
  </form>
  <p>The nodes running on the openstack infrastructure.</p>
  <button class="accordion">
    <h3 style="text-align: center">Controller nodes</h3>
  </button>
  <div class="panel">
    {% if nodes %}
    <div class="flexbox">
      {% for node in nodes %} 
      {% if node[1]=='nova-controller' %}
       <div class="node-box">
         <h4 style="text-align:center">#{{node[0]}}: {{node[2]}}</h4>
         <p><code>{{node}}</code></p>
       </div>
        {%endif %}
        {% endfor %}
      </div>
      {% else %}
      <p>No controller nodes found.</p>
      {% endif %}
  </div>
  <button class="accordion">
    <h3 style="text-align: center">Compute nodes</h3>
  </button>
  <div class="panel">
    {% if nodes %}
    <div class="flexbox">
      {% for node in nodes %} 
      {% if node[1]=='nova-compute' %}
       <div class="node-box">
         <h4 style="text-align:center">#{{node[0]}}: {{node[2]}}</h4>
         <p><code>{{node}}</code></p>
       </div>
        {%endif %}
        {% endfor %}
      </div>
      {% else %}
      <p>No controller nodes found.</p>
      {% endif %}
  </div>
  <button class="accordion">
    <h3 style="text-align: center">Conductor nodes</h3>
  </button>
  <div class="panel">
    {% if nodes %}
    <div class="flexbox">
      {% for node in nodes %} 
      {% if node[1]=='nova-conductor' %}
       <div class="node-box">
         <h4 style="text-align:center">#{{node[0]}}: {{node[2]}}</h4>
         <p><code>{{node}}</code></p>
       </div>
        {%endif %}
        {% endfor %}
      </div>
      {% else %}
      <p>No controller nodes found.</p>
      {% endif %}
  </div>
  <button class="accordion">
    <h3 style="text-align: center">Scheduler nodes</h3>
  </button>
  <div class="panel">
    {% if nodes %}
    <div class="flexbox">
      {% for node in nodes %} 
      {% if node[1]=='nova-scheduler' %}
       <div class="node-box">
         <h4 style="text-align:center">#{{node[0]}}: {{node[2]}}</h4>
         <p><code>{{node}}</code></p>
       </div>
        {%endif %}
        {% endfor %}
      </div>
      {% else %}
      <p>No controller nodes found.</p>
      {% endif %}
  </div>
  <button class="accordion">
    <h3 style="text-align: center">Consoleauth nodes</h3>
  </button>
  <div class="panel">
    {% if nodes %}
    <div class="flexbox">
      {% for node in nodes %} 
      {% if node[1]=='nova-consoleauth' %}
       <div class="node-box">
         <h4 style="text-align:center">#{{node[0]}}: {{node[2]}}</h4>
         <p><code>{{node}}</code></p>
       </div>
        {%endif %}
        {% endfor %}
      </div>
      {% else %}
      <p>No controller nodes found.</p>
      {% endif %}
  </div>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  </script>
</div>

{% endblock %}
