{% extends "base.html" %} {% block title %} Index {% endblock %} {%block body%}

<script src="static/app.js"></script>

<h1>MQTT-SocketIO</h1>
<p>The list of clients.</p>

<div class="simple-box">
  <form action="#">
    <label> <p>The list of MQTT clients.</p> </label>
    <select id="topic">
      <option value="client1">Client-1</option>
      <option value="client2">Client-2</option>
      <option value="client3">Client-3</option>
    </select>
    <input type="submit" value="Submit" id="client-submit" />
  </form>
</div>

<div>
  <p>The list of messages.</p>
  <div id="client-show"></div>
</div>

{%endblock %}
