{% extends "base.html" %} {% block title %} Packages{% endblock %} {% block body
%}

<div class="container">
  <p style="font-style: italic">
    Package management tool for any active cloud service instances.
  </p>
  <p>Hello, <b>{{user_id}}</b>.</p>
  <!-- <ul>
    <li>Virtual Machine (VM)</li>
    <li>Container Application</li>
  </ul>
  <p> -->
  <h4>Virtual Machines ⌨️</h4>
  <p>
    Choose from the list of <b>Virtual Machines</b> to see its installed
    packages.
  </p>
  <div class="dropdown box">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      VM List
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">vm...</a>
    </div>
  </div>
  <h4>Container Apps 📦</h4>
  <p>
    Choose from the list of <b>Containers</b> to see its installed packages.
  </p>
  <div class="dropdown box">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Container List
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">container...</a>
    </div>
  </div>
</div>

{% endblock %}
