{% extends "base.html" %} {% block title %} Cloudifin{% endblock %} {% block
body %}
<script src="static/app.js"></script>

<div class="container">
  <h2>Package management</h2>
  <p style="font-style: italic">
    Package management tool for any active cloud compute instances.
  </p>
  <p>User: <b>{{user_id}}</b>.</p>
  <!-- <div class="padder"> -->
  <!-- add a button to the top of the page to retrieve active instances -->
  <div style="padding-bottom: 10px">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
      id="instance-refresher"
    >
      Refresh Instances
    </button>
    <p style="display: inline; padding-left: 5px">
      Please refresh the instances to get the available resources.
    </p>
  </div>

  <h4>Virtual Machines ⌨️</h4>
  <p>
    Choose from the list of <b>Virtual Machines</b> to see its installed
    packages.
  </p>
  <div class="dropdown box">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      VM List
    </button>
    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
    <!-- make a dropdown list with fixed height and scrollable -->
    <!-- source: https://www.aspsnippets.com/questions/186447/Display-DropDownList-with-fixed-height-and-AutoScroll-enabled-using-C-in-ASPNet-MVC/ -->
    <div
      class="dropdown-menu"
      id="vm-drp-list"
      style="max-height: 160px; overflow: auto"
    >
      <a class="dropdown-item" href="#">empty...</a>
    </div>
  </div>

  <!-- add a hidden table called "vm-table" to the page -->
  <div id="vm-name-title" style="display: none"></div>
  <div id="vm-id-title" style="display: none"></div>

  <table
    class="table table-hover"
    id="vm-table"
    style="display: none; overflow: auto; max-height: 400px"
  >
    <thead>
      <tr>
        <th scope="col">Package Name</th>
        <th scope="col">Package Version</th>
        <th scope="col">Package Information</th>
        <th scope="col">Check for Update</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div id="vm-container-box" style="display: none">
    <h4>Container Apps 📦</h4>
    <div id="vm-name-for-containers"></div>
    <div class="dropdown box">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Container List
      </button>
      <div class="dropdown-menu" id="container-drp-list">
        <a class="dropdown-item" href="#">empty...</a>
      </div>
    </div>

    <!-- add a hidden table called "container-table" to the page -->
    <div id="container-name-title" style="display: none"></div>
    <table class="table table-hover" id="container-table" style="display: none">
      <thead>
        <tr>
          <th scope="col">Package Name</th>
          <th scope="col">Package Version</th>
          <th scope="col">Package Information</th>
          <th scope="col">Check for Update</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}
