{% extends "base.html" %} {% block title %} System Statistics {% endblock %} {%
block body %}
<script src="static/app_stats.js"></script>

<div class="container">
  <h2>System statistics</h2>

  <p>Hello, <b>{{user_id}}</b>.</p>
  <p>
    Choose from the list of <b>Virtual Machines</b> to see its current
    statistics.
  </p>
  <div class="dropdown box">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      VM List
    </button>
    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
    <!-- make a dropdown list with fixed height and scrollable -->
    <!-- source: https://www.aspsnippets.com/questions/186447/Display-DropDownList-with-fixed-height-and-AutoScroll-enabled-using-C-in-ASPNet-MVC/ -->
    <div
      class="dropdown-menu"
      id="vm-list-stats"
      style="max-height: 160px; overflow: auto"
    >
      <a class="dropdown-item" href="#">empty...</a>
    </div>
  </div>
</div>

<!-- prevent the entire statistics view to be displayed on page loading -->
<div id="unified-vm-stats" style="display: none">
  <!-- create a div where the vm name will be kept -->
  <div id="vm_name_stats" style="display: none"></div>
  <!-- create a div where the vm id will be kept -->
  <div id="vm_id_stats" style="display: none"></div>
  {% if node_name %}
  <div class="container" id="box-vm-name"></div>
  {% endif %}
  <div class="flex-container">
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header"><strong>DISK</strong></div>
        <div class="card-text">
          {% if disk_pie_chart %}
          <div class="card-body">
            <p class="card-text">
              The current <code>disk</code> usage of the system.
            </p>
            <img src="data:image/png;base64,{{disk_pie_chart}}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header"><strong>SWAP</strong></div>
        {% if swap_pie_chart %}
        <div class="card-body">
          <p class="card-text">
            The current <code>swap memory</code> stats of the system.
          </p>
          <img src="data:image/png;base64,{{swap_pie_chart}}" />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header"><strong>VIRTUAL MEMORY</strong></div>
        {% if virtual_memory_pie_chart %}
        <div class="card-body">
          <p class="card-text">
            The current <code>virtual memory</code> stats of the system.
          </p>
          <img src="data:image/png;base64,{{virtual_memory_pie_chart}}" />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header"><strong>Processing Unit</strong></div>
        {% if cpu_chart %}
        <div class="card-body">
          <p class="card-text">
            The average <code>CPU</code> load of the system.
          </p>
          <ul>
            <li>
              <p><strong>Architecture: </strong>{{arch}}</p>
            </li>
            <li>
              <p><strong>N.o. CPU Cores: </strong>{{cpu_info[1]}}</p>
            </li>
          </ul>
          <img src="data:image/png;base64,{{cpu_chart}}" />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column-child">
      <div class="card bg-light mb-3">
        <div class="card-header"><strong>System Information</strong></div>
        {% if sys_info %}
        <div class="card-body">
          <div class="card-text">
            <ul>
              {% for key in sys_info %}
              <li><strong>{{key}}:</strong></li>
              <p><code>{{sys_info[key]}}</code></p>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div style="padding: 10px" class="container">
    <p>System stats generated at <code>{{time_stamp}}</code>.</p>
  </div>
</div>

{% endblock %}
