{% extends "base.html" %} {% block title %} {% endblock %} {%block body%}

<h1>Sequences</h1>

<script>
  $(document).ready(() => {
    var socket = io();

    sequence_counter = 1;

    ok = 0;
    socket.on("sequence", (msg) => {
      console.log("Iteration " + sequence_counter);
      console.log("Received a new random sequence");
      if (ok == 0) {
        $("#sequence-tile").append("<p> The random sequence</p>");
        ok = 1;
      }
      $("#seq-list").append(
        "<p>" + "Generated a new sequence: #" + sequence_counter + "</p>"
      );
      $("#seq-list").append("<li>" + msg.sequence + "</li>");
      sequence_counter++;
      socket.emit("request_sequence_calculation", { sequence: msg.sequence });
    });
  });
</script>

<div id="sequence-tile"></div>
<div id="seq-list-div">
  <ul id="seq-list"></ul>
</div>

{% endblock %}
