{% extends "base.html" %} {% block title %}Index{% endblock %} {% block body %}

<h1>{{app_name}}</h1>

This is an application that renders background tasks evaluated by the python
server.

<script type="text/javascript">
  $(document).ready(function () {
    var socket = io();

    req_number = 0;

    socket.on("connect", () => {
      console.log("connected");
    });

    socket.on("disconnect", () => {
      socket.emit("disconnect", "disconnected");
    });

    $("#button").click(function () {
      console.log("button was pressed");
      // socket.emit("message", "[REQ] system info");
      data = "req-#" + req_number;
      socket.emit("system_info_request", data);
      req_number += 1;
    });
  });
</script>

<h2>System Information</h2>
<button id="button">Get System Information</button>
<div id="sys_info"></div>

{% endblock %}
