{% extends "layout.html" %}

{% block title %} Service-2 {% endblock %}

{% block body %}

<h1>System Stats</h1>

<div class="card border-success mb-3" style="max-width: auto;">
    <div class="card-header">uname</div>
    <div class="card-body">
      <h4 class="card-title">{{system_info}}</h4>
        <form action="/s2/" method="post" >
            <div><button type="submit" class="btn btn-info">Update stats</button></div>
        </form>
    </div>
</div>

<div class="card border-info mb-3" style="max-width: auto;">
    <div class="card-header">Parsed uname</div>
    <div class="card-body">
        {% if system_info_parsed %}
        <ul>
            {% for key in system_info_parsed %}
            <li><strong>{{key}}:</strong> {{system_info_parsed[key]}}</li>
            {% endfor %}
        </ul>
            <p class="text-info">Data extracted at {{current_time}}</p>
        {% endif %}
        <form action="/s2/" method="post" >
            <div><button type="submit" class="btn btn-info">Update stats</button></div>
        </form>
    </div>
  </div>

  <div class="card border-primary mb-3" style="max-width: auto;">
    <div class="card-header">Disk Info</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Disk partitions</th>
                    <th scope="col">Disk usage</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                {% for info in disk_info %}
                    <th scope="row">{{info}}</th>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
      <form action="/s2/" method="post" >
        <div><button type="submit" class="btn btn-info">Update stats</button></div>
    </form>
    </div>
  </div>

  <div class="card border-info mb-3" style="max-width: auto;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">CPU Info</h4>
      <ul>
      {% for info in cpu_info %}
        <li><strong>{{info}}:</strong> {{cpu_info[info]}}</li>
        {% endfor %}
    </ul>
      <form action="/s2/" method="post" >
        <div><button type="submit" class="btn btn-info">Update stats</button></div>
    </form>
    </div>
  </div>

  <div class="card border-info mb-3" style="max-width: auto;">
    <div class="card-header">Memory</div>
    <div class="card-body">
      <h4 class="card-title">Virtual Memory</h4>
      <ul>
        {% for info in memory_info %}
            <li><strong>{{info}}:</strong> {{memory_info[info]}}</li>
            {% endfor %}
      </ul>
      <p> Capacity is given in GB.</p>
      <form action="/s2/" method="post" >
        <div><button type="submit" class="btn btn-info">Update stats</button></div>
    </form>
    </div>
  </div>

  <div class="card border-info mb-3" style="max-width: auto;">
    <div class="card-header">Memory</div>
    <div class="card-body">
      <h4 class="card-title">Swap info</h4>
      <ul>
        {% for info in swap_info %}
            <li><strong>{{info}}:</strong> {{swap_info[info]}}</li>
            {% endfor %}
      </ul>
      <p> Capacity is given in GB.</p>
      <form action="/s2/" method="post" >
        <div><button type="submit" class="btn btn-info">Update stats</button></div>
    </form>
    </div>
  </div>



{% endblock %}