{% extends "layout.html" %}

{% block title %} Service-3 {% endblock %}

{% block body %}


<h1>Service 3</h1>
<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Raw time</th>
            <th scope="col">Parsed time</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <th scope="row">T1</th>
            <td>{{unparsed_time}}</td>
            <td>{{parsed_time}}</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">T2</th>
            <td>{{unparsed_time}}</td>
            <td>{{parsed_time}}</td>
          </tr>
        </tbody>
      </table>
      <form action="/s3/" method="post">
        <div><button type="submit" class="btn btn-info">Update stats</button></div>
    </form>
</div>
  

{% endblock %}