{% extends "layout.html" %}

{% block title %} Service-2 {% endblock %}

{% block body %}


<h1>Service-2</h1>

<div class="card border-success mb-3" style="max-width: auto;">
    <div class="card-header">Raw System Info</div>
    <div class="card-body">
      <h4 class="card-title">{{system_info}}</h4>
      <h4 class="card-title">{{system_info_parsed}}</h4>
        <form action="/s2/" method="post" >
            <div><button type="submit" class="btn btn-info">Update stats</button></div>
        </form>
    </div>
</div>

<div class="card border-info mb-3" style="max-width: auto;">
    <div class="card-header">Parsed System Info</div>
    <div class="card-body">
        <h4 class="card-title">{{system_info_parsed}}</h4>
        <form action="/s2/" method="post" >
            <div><button type="submit" class="btn btn-info">Update stats</button></div>
            {% if pressed_info %}
                <div>
                    <h4>{{pressed_info}}</h4>
                </div>
            {% endif %}
        </form>
    </div>
  </div>


{% endblock %}