.box {
  padding-left: 20px;
  padding-right: 20px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.node-box {
  padding-left: 5px;
  padding-top: 5px;
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.enabled-node-box {
  padding-left: 5px;
  padding-top: 5px;
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  border: 1px solid #ccc;
  border-radius: 10px;
  order: 0;
}

.disabled-node-box {
  padding-left: 5px;
  padding-top: 5px;
  width: 300px;
  height: 200px;
  background-color: lightpink;
  border: 1px solid #ccc;
  border-radius: 10px;
  order: 1;
}

.node-box:hover {
  background-color: #f0f0f0;
  border: 2px solid lightseagreen;
  box-shadow: 2px 2px 2px #ccc;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding-top: 10px;
  /* padding-bottom: 10px; */
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* create the styling for every type of server */

.controller-tier {
}

.conductor-tier {
}

.consoleauth-tier {
}

.scheduler-tier {
}

.compute-tier {
}

.enabled-node {
}

.disabled-node {
}

.up-node {
}

.down-node {
}
