.box {
  padding-left: 20px;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.node-box {
  padding-left: 5px;
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.node-box:hover {
  background-color: #f0f0f0;
  border: 2px solid red;
}
